/* html {
    width: 100%;
} */

body {
    width: 100%;
    height: 500px;
    display: flex;
}


header h1 {
    background-color: rgb(60, 60, 156);
    color: white;
    position: absolute;
    top: 0px;
    width: 100%;
    margin: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
}

h1 {
    width: 100%;
}

aside {
    display: flex;
    position: relative;
    top: 80px;
    flex-direction: column;
    width: 20%;
    /* justify-content: space-evenly; */

}

form {
    position: relative;
    top: 20px;
    height: 61px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.recent-search1 {
    /* position: absolute;
    top: 175px; */
    height: 35px;
    width: 100%;
    background-color: rgb(152, 156, 155);
    color: rgb(9, 9, 9);
    font-size: medium;
    font-weight: bold;
    margin-bottom: 5px;
    /* figure out how to get the width automatically sized without hard coding it */
   

}

.form-sub-btn {
    background-color: rgb(13, 139, 217);
    color: aliceblue;
    height: 35px;
    padding: 5px;
}

hr.solid {
    border-top: 1px solid black;
    /* position: relative;
    top: 27%; */
    /* width: 284.8px; */
    width: 100%;
    /* display: inline-block; */
    
}

.city-search-section {
    position: absolute;
    top: 20%;
    left: 25%;
    border: 1px solid black;
    height: 175px;
    width: 70%;
    color: black;
}


.five-day {
    display: flex;
    flex-direction: row;
    font-size: larger;
    font-weight: bolder;
    position: absolute;
    top: 58%;
    left: 25%;
    width: 70%;
    justify-content: space-between;
}

.date {
    display: flex;
    align-content: space-evenly;
    top: 80%;
    width: 165px;
    height: 200px;
    background-color: rgb(56, 56, 63);
    color: aliceblue;
}

.form-section {
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-content: space-evenly;
    position: absolute;
    top: 175px;
    width: 100%;
}

.searched-city-info {
    color: black ;
    font-size: medium;
}

.center {
    /* figure out how to center the date */
}



#pos-five-day-text {
    position: absolute;
    top: 48%;
    left: 25%;
}

#city-search {
    margin-bottom: 10px;
    padding: 7px;
}



@media (max-width: 400px){
    .date {
        background-color: rgb(35, 52, 186);
    }
   
    
}

/* figure out how to get the header in the searched-city-info box to be styled in isolation  */